# Ignore node_modules in both backend and frontend
travelbphc-backend/node_modules/
travelbphc-frontend/node_modules/

# Ignore sensitive environment variables
travelbphc-backend/.env

# Common ignores for various environments
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.prettiercache
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React build output (if frontend is built)
travelbphc-frontend/build/